<app-header></app-header>
<div>
  <form [formGroup]="formGroup">
    <div>
      <div>
        <label>Name * </label>
        <input formControlName="name"/>
        <div *ngIf="formGroup.invalid && formGroup.get('name').dirty && formGroup.get('name').touched">{{formGroup.get('name') | invalidmessage}}</div>
      </div>
      <div>
        <label>Model * </label>
        <input formControlName="model"/>
        <div *ngIf="formGroup.invalid && formGroup.get('model').dirty && formGroup.get('model').touched">{{formGroup.get('model') | invalidmessage}}</div>
      </div>
      <div>
        <label>Range * </label>
        <input formControlName="range"/>
        <div *ngIf="formGroup.invalid && formGroup.get('range').dirty && formGroup.get('range').touched">{{formGroup.get('range') | invalidmessage}}</div>
      </div>
      <div>
        <label>Type * </label>
        <select formControlName="type">
          <ng-container *ngFor="let enum of sensorType | keyvalue">
            <option *ngIf="sensorId && sensor && sensor.sensorUnit.sensorType !== enum.key">{{ enum.key }}</option>
          </ng-container>
          <ng-container *ngIf="sensorId && sensor">
            <option selected>{{sensor.sensorUnit.sensorType}}</option>
          </ng-container>
          <ng-container *ngIf="!sensorId">
            <option *ngFor="let enum of sensorType | keyvalue">{{enum.key}}</option>
          </ng-container>
        </select>
      </div>
      <div>
        <label>Unit * </label>
        <select formControlName="unit">
          <ng-container *ngFor="let enum of sensorType | keyvalue">
            <option *ngIf="sensorId && sensor && sensor.sensorUnit.unit !== enum.value">{{ enum.value }}</option>
          </ng-container>
          <ng-container *ngIf="sensorId && sensor">
            <option selected>{{sensor.sensorUnit.unit}}</option>
          </ng-container>
          <ng-container *ngIf="!sensorId">
            <option *ngFor="let enum of sensorType | keyvalue">{{enum.value}}</option>
          </ng-container>
        </select>
      </div>
      <div>
        <label>Location </label>
        <input formControlName="location"/>
        <div *ngIf="formGroup.invalid && formGroup.get('location').dirty && formGroup.get('location').touched">{{formGroup.get('location') | invalidmessage}}</div>
      </div>
      <div>
        <label>Description </label>
        <textarea formControlName="description"></textarea>
        <div *ngIf="formGroup.invalid && formGroup.get('description').dirty && formGroup.get('description').touched">{{formGroup.get('description') | invalidmessage}}</div>
      </div>
    </div>
    <div>
      <button type="button" [routerLink]="['/sensors']" routerLinkActive="router-link-active" [disabled]="isDisabled" (click)="onSave()">SAVE</button>
      <button type="button" [routerLink]="['/sensors']" routerLinkActive="router-link-active">CANCEL</button>
    </div>
  </form>
</div>