.form-container {
    background-color: rgb(66, 4, 68);
    width: 100%;
    min-height: 97vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color:rgb(248, 248, 248);
    border: 3px solid;
    border-color: rgb(51, 43, 6);
    border-radius: 0.19rem;
    padding: 10px;
}

label {
    margin: 4%;
    font-size: larger;
}

input, select, textarea {
    margin: 2%;
    display: inline-block;
    width: 90%;
    padding: .300rem;
    border: 1px solid #1c3a58;
    font-size: medium;
}

input, select {
    height: calc(2em + .50rem);
}

.range {
    width: 30%;
}

.form-wrapper .form-btn {
    margin: 1%;
    height: 36px;
    background:whitesmoke;
    border: 1px solid rgb(44, 1, 44);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    width: 30%;
    background-color: rgb(96, 131, 26);
    color: white;
}

.form-btn-container {
    margin: 5%;
    text-align: center;
}
