<div>
  <form [formGroup]="formGroup">
    <div>
      <div>
        <label>Name * </label>
        <input formControlName="name"/>
      </div>
      <div>
        <label>Model * </label>
        <input formControlName="model"/>
      </div>
      <div>
        <label>Range * </label>
        <input formControlName="range"/>
      </div>
      <div>
        <label>Type * </label>
        <select formControlName="type">
          <option *ngFor="let enum of sensorType | keyvalue">{{ enum.key }}</option>
        </select>
      </div>
      <div>
        <label>Unit * </label>
        <select formControlName="unit">
          <option *ngFor="let enum of sensorType | keyvalue">{{ enum.value }}</option>
        </select>
      </div>
      <div>
        <label>Location </label>
        <input formControlName="location"/>
      </div>
      <div>
        <label>Description </label>
        <textarea formControlName="description"></textarea>
      </div>
    </div>
    <div>
      <button type="button" [routerLink]="['/sensors']" routerLinkActive="router-link-active" (click)="onSave()">SAVE</button>
      <button type="button" [routerLink]="['/sensors']" routerLinkActive="router-link-active" >CANCEL</button>
    </div>
  </form>
</div>