<app-header></app-header>
<div style="height: 100%;">
  <h1 style="text-align: center;">
    Sensor Table
  </h1>
  <app-feature-search (searchEvent)="onSearch()" (restartEvent)="ngAfterContentInit()" (soughtDataEvent)="southDataChange($event)" [isSought]="isSought" [soughtData]="soughtData"></app-feature-search>
  <table style="width:80%">
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Type</th>
      <th>Range</th>
      <th>Unit</th>
      <th>Location</th>
      <th *ngIf="isAllowed">Operation</th>
    </tr>
    <tr style="text-align:center" *ngFor="let item of sensorCollection | async">
      <td>{{item.name}}</td>
      <td>{{item.model}}</td>
      <td>{{item.sensorUnit.sensorType}}</td>
      <td>{{item.sensorUnit.range}}</td>
      <td>{{item.sensorUnit.unit}}</td>
      <td>{{item.location}}</td>
      <td *ngIf="isAllowed">
        <button [routerLink]="['form', item.id]" routerLinkActive="router-link-active"  (click) = 'onEdit(item)'>Edit</button> | 
        <button (click) = 'onDelete(item.id)'>Delete</button> 
      </td>
    </tr>  
  </table>
  <div style="background-color: coral; position: fixed; bottom: 3%; width: 98%;">
    <button style="display:inline-block; margin-left: 4%; margin-right:10%;" [routerLink]="['form']" routerLinkActive="router-link-active" *ngIf="isAllowed">Add Sensor</button>
    <div *ngIf="!isAllowed" style="display:inline-block; margin-left: 17%; margin-right:10%"></div>
    <app-feature-pagination (previousEvent)="onPrevious()" (nextEvent)="onNext()" (pageEvent)="onPage($event)" [totalPages]="totalPages" [currentPage]="currentPage"></app-feature-pagination>
    <h3 style="display:inline-block; margin-left: 15%; margin-right: 4%" *ngIf="sensorCollection | async">Total: {{(elementsQuantity | async)}}</h3>
  </div>
</div>
