# dependencies
/node_modules
/.pnp
.angular
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cruft
.DS_Store
npm-debug.log
.idea
package-lock.json
yarn-error.log

.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**