.form-container {
    background-color: rgb(236, 240, 28);
    width: 100%;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    min-width: 300px;
    background-color:rgb(248, 248, 248);
    border: 3px solid;
    border-color: black;
    border-radius: 0.30rem;
    padding: 10px;
}

label {
    margin: 4%;
    font-size: larger;
}

input {
    margin: 2%;
    width: 90%;
    padding: .300rem;
    border: 1px solid #1c3a58;
    font-size: medium;
    height: calc(2em + .50rem);
}
.form-wrapper .form-btn, .form-wrapper .disabled {
    margin: 1%;
    height: 36px;
    border: 1px solid rgb(44, 1, 44);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 30%;
}

.form-wrapper .form-btn {
    background-color: rgb(96, 131, 26);
    color: white;
}

.form-wrapper .disabled {
    background-color: rgb(231, 231, 208);
    color: white;
}

.form-btn-container {
    margin: 5%;
    text-align: center;
}
